<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scraped Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h4>Mars Data Scraped from Various Websites</h4>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4 class="heading">{{ mars_data.news_title }}</h4>
        <small>{{ mars_data.news_para }}</small>
        <br>
        <h3>Featured Mars Image from Nasa</h3>
        <img src= "{{ mars_data.featured_image_url }}">
        <br>
        <div>
        <h3> Mars News Table</h3>
        <!-- {% autoescape off %} -->
        {{mars_data.tables_html|safe}}
        <!-- {% endautoescape %} -->
        </div>
        <br>
        <h3>Mars Hemispheres</h3>
        <img src='{{ mars_data.hemispheres[0]["img_url"] }}'>
        <p>{{mars_data.hemispheres[0]['title']}}</p>
        <br>
          <img src="{mars_data.hemispheres[1]['img_url']}}">
          <p>{{mars_data.hemispheres[1]['title']}}</p>
          <br>
        <img src="{{mars_data.hemispheres[2]['img_url']}}">
        <p>{{mars_data.hemispheres[2]['title']}}</p>
        <br>
        <img src="{{mars_data.hemispheres[3]['img_url']}}">
        <p>{{mars_data.hemispheres[3]['title']}}</p>
      </div>
    </div>

  </div>
</body>

</html>
